@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

body {
  color: #757575;
  background-color: white;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

/*.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.nav {
  text-decoration: none;

  & .accent-logo {
    color: $accent-text-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }
  & .logo {
    color: $title-text-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }
}
*/
/*настройка слова Studio в футере */
/*
.logotip {
  color: $hero-text-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
*/
.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav {
  text-decoration: none;
}

.nav .accent-logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.nav .logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/*настройка слова Studio в футере */
.nav-foot {
  text-decoration: none;
}

.nav-foot .accent-logo-foot {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logotip {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .nav {
    width: 100%;
  }
  .accent-logo {
    width: 100%;
  }
  .logotip {
    width: 100%;
  }
  .nav-foot {
    width: 100%;
  }
  .accent-logo-foot {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .main-nav {
    flex-direction: column;
  }
}

.main-div {
  display: flex;
  align-items: center;
  margin-right: auto;
  justify-content: space-between;
  position: relative;
}

/*padding-bottom: 32px; пришлось удалить */
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link.current::after {
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  margin: 0 auto;
  margin-top: 28px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  margin-left: auto;
}

.navigation .link {
  color: #757575;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  font-style: normal;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .link:hover,
.navigation .link:focus {
  color: #2196f3;
}

.navigation.link.current {
  color: #2196f3;
}

.site-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-cont {
  text-align: center;
}

.links-main .item-cont + .item-cont {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .tablet-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

/* задаем размеры иконок*/
.icon-for-header-svg-m {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-for-header-svg-t {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* задаем цвет при ховере*/
.link:hover .icon-for-header-svg-m {
  fill: #2196f3;
}

.link:hover .icon-for-header-svg-t {
  fill: #2196f3;
}

.header-dec {
  border-bottom: 1px solid #ececec;
}

.heading {
  background-color: #2f303a;
  box-sizing: border-box;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 280px;
}

/*для моб версии хедер*/
.page-header .nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.site-nav .link {
  display: block;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tablet-navigation,
.tablet-main-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .tablet-main-nav,
  .tablet-navigation {
    display: block;
  }
  .tablet-main-div {
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: auto;
    justify-content: space-between;
    position: relative;
  }
  .tablet-header-dec {
    height: 80px;
    display: flex;
    text-align: center;
  }
  .tablet-links-main {
    display: flex;
  }
  .item {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .tablet-list .link {
    display: block;
    color: #212121;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .tablet-list .item + .item {
    margin-left: 50px;
  }
  .tablet-main-nav {
    margin-right: 0;
  }
  /*.tablet-list{
      position: absolute;
    }
  */
  .tablet-list .link:hover,
  .tablet-list .link:focus {
    color: #2196f3;
  }
  .tablet-list .link.current {
    color: #2196f3;
  }
  .tablet-list .link.current::after {
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    margin: 0 auto;
    bottom: 0;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
  }
  .tablet-navigation {
    margin-left: 0;
  }
  .tablet-navigation .link {
    color: #757575;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    font-style: normal;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tablet-navigation .link:hover,
  .tablet-navigation .link:focus {
    color: #2196f3;
  }
  .tablet-navigation.link.current {
    color: #2196f3;
  }
  .tablet-list .link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .tablet-links-main {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .tablet-links-main {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .tablet-links-main .item + .item {
    margin-left: 30px;
  }
  .tablet-list:first-child {
    margin-left: 93px;
  }
}

.overlay-head {
  flex-grow: 1;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  outline: 1px solid #212121;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/remade-tel/header-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media not all, screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .overlay-head {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/remade-tel/header-img@2x.jpg");
  }
}

@media not all, screen and (min-resolution: 96dpi) and (min-width: 480px), screen and (min-resolution: 1dppx) and (min-width: 480px) {
  .overlay-head {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/remade-tel/header-we-img.webp");
  }
}

@media not all, screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .overlay-head {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/remade-tel/header-web-img@2x.webp");
  }
}

@media not all, screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay-head {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/header.jpg");
  }
}

@media not all, screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay-head {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/heade@2x.jpg");
  }
}

@media not all, screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay-head {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/header-w.webp");
  }
}

@media not all, screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay-head {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/header-w@2x.webp");
  }
}

@media not all, screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay-head {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/desct-rem/head.jpg");
  }
}

@media not all, screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay-head {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/desct-rem/head-w.webp");
  }
}

@media not all, screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay-head {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/desct-rem/header@2x.jpg");
  }
}

@media not all, screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay-head {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/desct-rem/head-w@2x.webp");
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*
.color-white {
  color: $hero-text-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 30px;
}
*/
/*button studio*/
/*
.button-studio {
  color: $hero-text-color;
  background-color: $accent-text-color;
  font-weight: 700;

  font-size: 16px;
  line-height: 1.87;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  margin-top: 30px;
  display: block;
  margin: auto;
}
*/
/*====================END СТИЛИ ДЛЯ ГЕОМЕТРИИ КОНТЕНТА ШАПКИ================= */
/* ===== MODAL WINDOW =====*/
/*
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bgcolor-backdrop;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: $primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(197, 121, 121, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;

  & .close-modal {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    background-color: transparent;
    border: 1px solid $bgcolor-backdrop;
    border-radius: 50%;
    cursor: pointer;
  }
}
.icon-for-button-studio {
  width: 11px;
  height: 11px;
  top: 3px;
  left: 4px;
  fill: $title-text-color;
}

.close-modal:hover .icon-for-button-studio {
  fill: $accent-text-color;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


*/
/* Modal FORM*/
/*
.cap-for-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
*/
/* position: absolute;*/
/*
  width: 100%;
  margin-bottom: 30px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  top: -20px;
  left: 0;

  &-field {
    position: relative;
    margin-bottom: 10px;
  }
  &-input-label {
    position: relative;

    font-family: inherit;
    font-size: 12px;
    line-height: 1.418;
    letter-spacing: 0.1em;
    margin-bottom: 4px;
    display: block;
  }
  &-input-label:hover .modal-form-icon {
    fill: $accent-text-color;
  }
  &-input-label:focus .modal-form-icon {
    fill: $accent-text-color;
  }
  &-icon {
    position: absolute;
    top: 20px;
    left: 12px;
    transform: translateY(100%);
  }

  &-input {
    width: 448px;
    height: 40px;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    top: 0;
    left: 0;
  }

  &-input:hover,
  &-input:focus {
    border-color: $accent-text-color;
    outline: none;
  }
  &-input:focus + &-icon {
    fill: $accent-text-color;
  }
  &-input:focus ~ &-icon svg {
    fill: $accent-text-color;
  }
  &-message:focus {
    outline: none;
  }

  &-message {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid $border-message;
    border-radius: 4px;
    padding: 12px 16px;
  }

  &-check:before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    border: 1px solid $accent-text-color;
  }
  &-label-check::before {
    content: "";
    display: block;
    width: 16px;
    height: 15px;
    border: 1px solid $border-color;
  }
  &-check:checked + &-label-check::before {
    background-image: url("../img/svg/icon-check.png");
  }

  &-label-check {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
  }
  &-label-check {
    display: flex;
  }
}
.modal-agree {
  margin-left: 7px;
  display: block;
}
.button-modal-form {
  color: $hero-text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  width: 200px;
  height: 50px;
  border: 1px solid $accent-text-color;
  border-radius: 4px;

  background: $accent-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  margin-top: 30px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.modal-form-icon-gal:focus {
  fill: $hero-text-color;
  background-color: $accent-text-color;
}
.visually-hidden {
  visibility: hidden;
  position: absolute;
}
*/
.color-white {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/*button studio*/
.button-studio {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  margin-top: 30px;
  display: block;
  margin: auto;
}

.heading {
  height: 400px;
  width: auto;
}

/*====================END СТИЛИ ДЛЯ ГЕОМЕТРИИ КОНТЕНТА ШАПКИ================= */
/* ===== MODAL WINDOW =====*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 609px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(197, 121, 121, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.modal .close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.icon-for-button-studio {
  width: 11px;
  height: 11px;
  top: 3px;
  left: 4px;
  fill: #212121;
}

.close-modal:hover .icon-for-button-studio {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Modal FORM*/
.cap-for-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  /* position: absolute;*/
  width: 100%;
  margin-bottom: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  top: -20px;
  left: 0;
}

.modal-form-field {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-input-label {
  position: relative;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.418;
  letter-spacing: 0.1em;
  margin-bottom: 4px;
  display: block;
}

.modal-form-input-label:hover .modal-form-icon {
  fill: #2196f3;
}

.modal-form-input-label:focus .modal-form-icon {
  fill: #2196f3;
}

.modal-form-icon {
  position: absolute;
  top: 20px;
  left: 12px;
  transform: translateY(100%);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  top: 0;
  left: 0;
}

.modal-form-input:hover, .modal-form-input:focus {
  border-color: #2196f3;
  outline: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #2196f3;
}

.modal-form-input:focus ~ .modal-form-icon svg {
  fill: #2196f3;
}

.modal-form-message:focus {
  outline: none;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.modal-form-check:before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #2196f3;
}

.modal-form-label-check::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
}

.modal-form-check:checked + .modal-form-label-check::before {
  background-image: url("../img/svg/icon-check.png");
}

.modal-form-label-check {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
}

.modal-form-label-check {
  display: flex;
}

.modal-agree {
  font-size: 12px;
  margin-left: 7px;
  display: block;
}

.button-modal-form {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  width: 200px;
  height: 50px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  margin-top: 30px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.modal-form-icon-gal:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
}

/*@media screen and (max-width: 480px) {
  width: 100%;
}
*/
@media screen and (min-width: 768px) {
  .heading {
    height: 400px;
    width: auto;
  }
  .color-white {
    text-align: center;
    font-size: 26px;
  }
  .modal {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .heading {
    height: 600px;
    width: auto;
    max-width: 1600px;
  }
  .color-white {
    text-align: center;
    font-size: 44px;
  }
  .modal {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
  }
}

/*
.icons-benefits-four {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 120px;
  width: 270px;
  background-color: $bgc-icons-benefits;
  border: 1px solid $bgc-icons-benefits;
  border-radius: 4px;
  margin-bottom: 30px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 2px solid $accent-text-color;
  }
  &:hover svg {
    fill: $accent-text-color;
  }
}

.our-work-features .benefits + .benefits {
  margin-left: 30px;
}
*/
/* ==================== benefits of cooperation===================*/
/*

.main-features {
  padding-top: 94px;
}

.our-work-features .work-features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-text-color;
}

.benefits .work-features-title + .work-features-title {
  margin-left: 30px;
}
.benefits .work-features-title {
  margin-bottom: 10px;
}
.our-work-features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.text {
  width: 270px;
  height: 75px;
  color: $primary-text-color;
}
.bgc-benef {
  background-color: $third-bg-color;
}
.our-work-features {
  display: flex;
}
*/
/* написать код для таблетаи десктопа
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
*/
.main-features {
  padding-top: 60px;
}

.icons-benefits-four {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 120px;
  max-width: 450px;
  background-color: #f5f4fa;
  border: 1px solid #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-benefits-four:hover {
  border: 2px solid #2196f3;
}

.icons-benefits-four:hover svg {
  fill: #2196f3;
}

.our-work-features .work-features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
}

.benefits .work-features-title {
  margin-bottom: 10px;
}

.our-work-features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.text {
  height: 75px;
  color: #757575;
}

.bgc-benef {
  background-color: white;
}

@media screen and (max-width: 480px) {
  .main-features {
    width: 100%;
    max-width: 450px;
  }
  .icons-benefits-four {
    width: 100%;
  }
  .work-features-title {
    width: 100%;
  }
  .text {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .our-work-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .benefits {
    width: 354px;
  }
  .main-features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .our-work-features .work-features-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    width: 270px;
  }
  .our-work-features .work-features-title {
    text-align: left;
  }
  .main-features {
    padding-top: 94px;
  }
}

@media (max-width: 1199px) {
  .about-work-section {
    display: none;
  }
}

.about-work-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.image-work {
  position: relative;
  width: 100%;
}

.work-section-artic {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* поменяли местами, было вверху*/
.what-we-do-ul {
  display: flex;
}

.what-we-do-ul .what-we-do-li + .what-we-do-li {
  padding-left: 30px;
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
  padding-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .section-title {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .section-title {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    width: 1200px;
    padding-bottom: 50px;
  }
}

/*.bgc-our-team {
  background-color: $forth-bg-color;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-ul {
  display: flex;
}

.our-team-ul .our-team-li + .our-team-li {
  padding-left: 30px;
}

.team {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;

  &-padding {
    border-left: 1px solid $line;
    border-right: 1px solid $line;
    border-bottom: 1px solid $line;
    border-radius: 4px;
    background-color: $third-bg-color;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    height: 168px;
    width: 270px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.description-team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
*/
.bgc-our-team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-padding {
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-radius: 4px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  height: 168px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team-image {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.our-team-li:nth-child(-n + 4) {
  padding-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .bgc-our-team {
    width: 100%;
  }
  .our-team-li {
    width: 100%;
  }
  -padding {
    width: 100%;
  }
  .team-image {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .our-team-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .bgc-our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*.social-list {
  display: flex;
  justify-content: space-between;

  &-svg {
    width: 20px;
    height: 20px;
  }
  &-item-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $primary-bg-color;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-item-links:hover,
  &-item-links:focus {
    fill: $primary-bg-color;
    background-color: $accent-text-color;
  }

  &-item-links:hover svg {
    fill: $primary-bg-color;
  }
  &-item-link-instagram {
    fill: $links;
  }
  &-item-link-twitter {
    fill: $links;
  }
  &-item-link-facebook {
    fill: $links;
  }
  &-item-link-linkedin2 {
    fill: $links;
  }
}
*/
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list-svg {
  width: 20px;
  height: 20px;
}

.social-list-item-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-links:hover, .social-list-item-links:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.social-list-item-links:hover svg {
  fill: #ffffff;
}

.social-list-item-link-instagram {
  fill: #afb1b8;
}

.social-list-item-link-twitter {
  fill: #afb1b8;
}

.social-list-item-link-facebook {
  fill: #afb1b8;
}

.social-list-item-link-linkedin2 {
  fill: #afb1b8;
}

@media screen and (min-width: 480px) {
  .social-list {
    width: 100%;
  }
}

/*
.section-title-clients {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.171;
  text-align: center;
  padding-bottom: 50px;
}
.our-clients {
  box-sizing: border-box;
  height: 370px;

  background-color: $primary-bg-color;
  padding-top: 94px;
  padding-bottom: 94px;

  &-ul {
    display: flex;
    justify-content: spase-around;
  }
  &-ul &-li + &-li {
    margin-left: 30px;
  }

  &-li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $links;
    border-radius: 4px;
    background-color: $third-bg-color;

    box-sizing: border-box;
    height: 90px;
    width: 170px;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-li:hover {
    border: 1px solid $accent-text-color;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-li:hover svg {
    fill: $accent-text-color;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

*/
.section-title-clients {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.171;
  text-align: center;
  padding-bottom: 30px;
}

.our-clients {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-clients-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-clients-ul .our-clients-li + .our-clients-li {
  margin-bottom: 30px;
}

.our-clients-li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
  height: 90px;
  width: 47%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-li:hover {
  border: 1px solid #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-li:hover svg {
  fill: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 480px) {
  -li {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .our-clients-li {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-li {
    width: 170px;
  }
  .our-clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .section-title-clients {
    padding-bottom: 50px;
    font-size: 36px;
  }
}

/*
.foot-main {
  box-sizing: border-box;
  width: 231px;
  height: 105px;
}

.footer {
  background-color: $second-bg-color;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  height: 252px;

  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;

  &-addr {
    color: $hero-text-color;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
  }
  &-link {
    color: $footer-text-color;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    list-style: none;
  }

  &-li:first-child {
    margin-top: 20px;
  }

  &-li {
    margin-top: 9px;
  }
  &-tel {
    margin-top: 9px;
  }
}
*/
/*=====Footer-social-links=====*/
/*
.join-us-footer {
  color: $hero-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;

  display: flex;
  align-items: center;

  margin-bottom: 20px;
  padding-top: 12px;
}
.social-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;

  &-svg {
    width: 20px;
    height: 20px;
  }
  & .social-list-item + .social-list-item {
    margin-left: 10px;
  }
}
.social-list-item-footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $bgc-links-footer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover svg {
    fill: $hero-text-color;
  }
}
.social-footer-link-instagram {
  fill: $hero-text-color;
}
.social-footer-link-twitter {
  fill: $hero-text-color;
}
.social-footer-link-facebook {
  fill: $hero-text-color;
}
.social-footer-link-linkedin2 {
  fill: $hero-text-color;
}

.social-list-item-footer-links:hover,
.social-list-item-footer-links:focus {
  fill: $primary-bg-color;
  background-color: $accent-text-color;
}

.two-colons-footer {
  display: flex;
  justify-content: space-between;
}
*/
/*   FORM    */
/*
.two-colons-footer {
  display: flex;
  justify-content: space-between;
}
.join-us-footer-email {
  color: $hero-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;

  display: flex;

  justify-content: center;
  margin-bottom: 20px;
  padding-top: 12px;
}
.email-form-foot {
  display: flex;
}

.contact-form-email {
  width: 358px;
  min-height: 50px;
  margin: auto;
  background-color: transparent;
  border: 1px solid $bgc-links-footer;
  border-radius: 4px;
  align-items: flex-start;

  padding-left: 16px;
  margin-right: 12px;
  color: $hero-text-color;
}
.button-form-foot {
  background-color: $accent-text-color;

  width: 200px;
  min-height: 50px;
  margin: 0 auto;

  border: 0px;
  border-radius: 4px;
}
.but-foot {
  justify-content: center;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  color: $hero-text-color;

  font-size: 16px;
  line-height: 1.42;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.icon-for-form-foot {
  justify-content: center;
  text-align: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $hero-text-color;
}
.join-us-footer-email {
  display: flex;
  flex-direction: column;
}
*/
.foot-main {
  box-sizing: border-box;
  width: 232px;
  height: 105px;
  align-items: center;
  margin: 0 auto;
}

.logo-foot {
  text-align: center;
}

.footer {
  background-color: #2f303a;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer-addr {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  list-style: none;
}

.footer-li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-li:first-child {
  margin-top: 20px;
}

.footer-li {
  margin-top: 9px;
}

.footer-tel {
  margin-top: 9px;
}

/*=====Footer-social-links=====*/
.footer-box-links {
  text-align: center;
  box-sizing: border-box;
  height: 80px;
  width: 206px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.join-us-footer {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 60px;
}

.social-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.social-list-footer-svg {
  width: 20px;
  height: 20px;
}

.social-list-footer .social-list-item + .social-list-item {
  margin-left: 10px;
}

.social-list-item-footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454e;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-footer-links:hover svg {
  fill: #ffffff;
}

.social-footer-link-instagram {
  fill: #ffffff;
}

.social-footer-link-twitter {
  fill: #ffffff;
}

.social-footer-link-facebook {
  fill: #ffffff;
}

.social-footer-link-linkedin2 {
  fill: #ffffff;
}

.social-list-item-footer-links:hover,
.social-list-item-footer-links:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.two-colons-footer {
  display: flex;
  flex-direction: column;
  margin: auto;
}

/*   FORM    */
.footer-box-join {
  padding-top: 60px;
}

.join-us-footer-email {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 60px;
  align-items: center;
  text-align: center;
}

.contact-form-email {
  width: 100%;
  min-height: 50px;
  margin: auto;
  background-color: transparent;
  border: 1px solid #44454e;
  border-radius: 4px;
  align-items: center;
  padding-left: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.button-form-foot {
  background-color: #2196f3;
  width: 200px;
  min-height: 50px;
  margin: 0 auto;
  border: 0px;
  border-radius: 4px;
}

.but-foot {
  justify-content: center;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.42;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.icon-for-form-foot {
  justify-content: center;
  text-align: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.join-us-footer-email {
  display: flex;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 480px;
}

@media screen and (max-width: 480px) {
  .join-us-footer-email {
    width: 100%;
  }
  .contact-form-email {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .two-colons-footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .footer-real-two {
    display: flex;
    justify-content: space-between;
  }
  .logo-foot {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .join-us-footer-email {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .footer-box-join {
    margin: auto;
  }
  .join-us-footer {
    padding-top: 5px;
  }
  .contact-form-email {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .foot-main {
    box-sizing: border-box;
    width: 231px;
    height: 105px;
  }
  .footer-real-two {
    display: flex;
    justify-content: space-between;
  }
  .footer {
    background-color: #2f303a;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
  }
  .join-us-footer {
    padding-top: 12px;
  }
  .social-list-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
  }
  .two-colons-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .email-form-foot {
    display: flex;
  }
  .button-form-foot {
    height: 50px;
  }
  .contact-form-email {
    width: 358px;
    margin-right: 12px;
  }
  .join-us-footer-email {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
  }
  .footer-li {
    justify-content: start;
  }
  .logo-foot {
    text-align: start;
  }
  .footer-box-join {
    padding-top: 0;
    align-content: center;
    margin: unset;
  }
  .footer-box-links {
    text-align: start;
  }
}

/*
.but {
  display: block;
  border: 0px;
  font-family: inherit;
  font-weight: 500;
  color: $accent-text-color;

  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;

  border: 0px;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button .but:hover,
.button .but:focus {
  color: $hero-text-color;
  background-color: $accent-text-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.primary {
  color: $hero-text-color;
  background-color: $accent-text-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons-section .button {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.button .title + .title {
  margin-left: 8px;
}

.buttons-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
*/
.but {
  display: block;
  border: 0px;
  font-family: inherit;
  font-weight: 500;
  color: #212121;
  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;
  border: 0px;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button .but:hover,
.button .but:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.primary {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-section .button {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  margin: -7px -4px;
}

.title {
  margin: 7px 4px;
}

.buttons-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 768px) {
  .buttons-section .button {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
}

/*.border-for-header {
  border-bottom-width: 1px solid $line;
}

.features-portfolio .titles-function-port {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  text-transform: inherit;
  color: $title-text-color;
}

.text-elem {
  font-size: 16px;
  line-height: 1.87;
}

.titles-function-port {
  color: $title-text-color;
}

.border-for-cards {
  display: inline-block;
  border: 1px solid $line;
  width: 370px;
  height: 404px;
  background-color: $primary-bg-color;
  overflow: hidden;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  position: relative;
  overflow: hidden;
}
.text-cards-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background-color: $accent-color;
  color: $hero-text-color;
}

.features-li:hover .text-cards-overlay {
  transform: translateY(0);
  opacity: 1;
}

.padding-for-cards-port {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
}

.features-li:not(:nth-child(3n)) {
  padding-right: 30px;
  padding-bottom: 30px;
}
.border-for-cards:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.features-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-text-for-cards {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;

  padding-top: 63px;
  padding-left: 63px;
  padding-left: 24px;
  padding-right: 24px;
}
*/
.border-for-header {
  border-bottom-width: 1px solid #ececec;
}

.features-portfolio .titles-function-port {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  text-transform: inherit;
  color: #212121;
}

.text-elem {
  font-size: 16px;
  line-height: 1.87;
}

.titles-function-port {
  color: #212121;
}

.border-for-cards {
  display: inline-block;
  border: 1px solid #ececec;
  height: 404px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  overflow: hidden;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: relative;
  overflow: hidden;
  z-index: 3;
}

.text-cards-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
}

.features-li:hover .text-cards-overlay {
  transform: translateY(0);
  opacity: 1;
}

.padding-for-cards-port {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
}

.features-li:nth-child(-n + 8) {
  margin-bottom: 30px;
}

.border-for-cards:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-text-for-cards {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  padding-top: 63px;
  padding-left: 63px;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (max-width: 480px) {
  .border-for-cards {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  .features-portfolio {
    display: flex;
    flex-wrap: wrap;
  }
  .features-li {
    width: 354px;
  }
  .features-li:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .features-li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-portfolio {
    display: flex;
    flex-wrap: wrap;
  }
  .features-li {
    width: 370px;
  }
  .features-li:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .features-li:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-cross {
  display: none;
}

.menu-container.is-open {
  display: block;
}

.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 395px;
  background-color: #ffffff;
  z-index: 99;
  display: none;
}

.header-dec {
  position: relative;
}

.icon-menu:hover svg {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-dec {
    height: 60px;
  }
}
/*# sourceMappingURL=main.css.map */