/*.main-div {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.site-nav .link {
  display: block;
  color: $title-text-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/
/*padding-bottom: 32px; пришлось удалить */
/*
.site-nav .link:hover,
.site-nav .link:focus {
  color: $accent-text-color;
}
.site-nav .link.current {
  color: $accent-text-color;
}
.site-nav .link.current::after {
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  background-color: $accent-text-color;
  margin: 0 auto;
  margin-top: 28px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  margin-left: auto;

  & .link {
    color: $primary-text-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    font-style: normal;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .link:hover,
  & .link:focus {
    color: $accent-text-color;
  }
  &.link.current {
    color: $accent-text-color;
  }
}
.site-nav {
  display: flex;
  margin-left: 93px;

  & .item + .item {
    margin-left: 50px;
  }
}


.links-main {
  display: flex;
  align-items: center;

  .item + .item {
    padding-left: 50px;
  }
}
*/
/* задаем размеры иконок*/
/*
.icon-for-header-svg-m {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $primary-text-color;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-for-header-svg-t {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: $primary-text-color;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/
/* задаем цвет при ховере*/

/*
.link:hover .icon-for-header-svg-m {
  fill: $accent-text-color;
}
.link:hover .icon-for-header-svg-t {
  fill: $accent-text-color;
}
.heading {
  background-color: $second-bg-color;
  box-sizing: border-box;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 280px;
}

.overlay-head {
  flex-grow: 1;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $second-bg-color;
  outline: 1px solid $title-text-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/fon/imj-for-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.main-div {
  display: flex;
  align-items: center;
  margin-right: auto;
  justify-content: space-between;
  position: relative;
}
.site-nav .link {
  display: block;
  color: $title-text-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*padding-bottom: 32px; пришлось удалить */

.site-nav .link:hover,
.site-nav .link:focus {
  color: $accent-text-color;
}
.site-nav .link.current {
  color: $accent-text-color;
}
.site-nav .link.current::after {
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  background-color: $accent-text-color;
  margin: 0 auto;
  margin-top: 28px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  margin-left: auto;

  & .link {
    color: $primary-text-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    font-style: normal;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .link:hover,
  & .link:focus {
    color: $accent-text-color;
  }
  &.link.current {
    color: $accent-text-color;
  }
}
.site-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.item-cont {
  text-align: center;
}
.links-main .item-cont + .item-cont {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

/* задаем размеры иконок*/

.icon-for-header-svg-m {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $primary-text-color;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-for-header-svg-t {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: $primary-text-color;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* задаем цвет при ховере*/

.link:hover .icon-for-header-svg-m {
  fill: $accent-text-color;
}
.link:hover .icon-for-header-svg-t {
  fill: $accent-text-color;
}
.header-dec {
  border-bottom: 1px solid $line;
}
.heading {
  background-color: $second-bg-color;
  box-sizing: border-box;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 280px;
}
/*для моб версии хедер*/
.page-header .nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}


.site-nav .link {
  display: block;
  color: $title-text-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tablet-navigation,
.tablet-main-nav{
  display: none;
}



@media screen and (min-width: 768px) {
  .tablet-main-nav,
  .tablet-navigation{
    display: block;
  }
  .tablet-main-div {
    max-width: 768px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: auto;
    justify-content: space-between;
    position: relative;
  }

  .tablet-header-dec {
    height: 80px;
    max-width: 768px;
    display: flex;
    text-align: center;
  }
  .tablet-links-main {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .tablet-list .link {
    display: block;
    color: $title-text-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
    .tablet-main-nav {

    }
  
  
  .tablet-list .link:hover,
  .tablet-list .link:focus {
    color: $accent-text-color;
  }
  .tablet-list .link.current {
    color: $accent-text-color;
  }
  .tablet-list .link.current::after {
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    background-color: $accent-text-color;
    margin: 0 auto;
    margin-top: 0;
    position: absolute;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .tablet-navigation {
    margin-left: auto;
  
    & .link {
      color: $primary-text-color;
      font-family: inherit;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      text-decoration: none;
      font-style: normal;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    & .link:hover,
    & .link:focus {
      color: $accent-text-color;
    }
    &.link.current {
      color: $accent-text-color;
    }
  }
  .tablet-list{
    display: flex;
    align-items: center;
  }
  
  .tablet-links-main {
    display: flex;
    align-items: center;
    margin-top: 60px;
  }
  .tablet-navigation{
    margin: 0;
  }
  .tablet-list {
    display: flex;
  }
  
  .tablet-list .link {
    display: block;
    color: $title-text-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    padding-top: 32px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .tablet-main-nav{
      height: 80px;
    }
  }
}


  


  

.overlay-head {
  flex-grow: 1;

  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: $second-bg-color;
  outline: 1px solid $title-text-color;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/remade-tel/header-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media not all,
  screen and (min-resolution: 192dpi) and (min-width: 480px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .overlay-head {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/remade-tel/header-img@2x.jpg");
  }
}
@media not all,
  screen and (min-resolution: 96dpi) and (min-width: 480px),
  screen and (min-resolution: 1dppx) and (min-width: 480px) {
  .overlay-head {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/remade-tel/header-we-img.webp");
  }
}
@media not all,
  screen and (min-resolution: 192dpi) and (min-width: 480px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .overlay-head {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/remade-tel/header-web-img@2x.webp");
  }
}

@media not all,
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay-head {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/tablet/header.jpg");
  }
}
@media not all,
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay-head {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/tablet/heade@2x.jpg");
  }
}
@media not all,
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay-head {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/tablet/header-w.webp");
  }
}
@media not all,
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay-head {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/tablet/header-w@2x.webp");
  }
}
@media not all,
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay-head {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/desct-rem/head.jpg");
  }
}
@media not all,
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay-head {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/desct-rem/head-w.webp");
  }
}
@media not all,
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay-head {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/desct-rem/header@2x.jpg");
  }
}
@media not all,
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay-head {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/desct-rem/head-w@2x.webp");
  }
}
