.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button .icon-menu {
  display: none;
}
.menu-button.is-open .icon-menu {
  display: block;
}
.menu-button.is-open .icon-cross {
  display: none;
}

/*.main-nav,
.navigation {
  height: 50px;
  width: 140px;
}*/
.menu-container.is-open {
  display: block;
}
.menu-container {
  position: absolute;
  top: 60px;
  left: 100%;
  background-color: $hero-text-color;
  z-index: 99;
}

.icon-menu:hover svg {
  fill: $accent-text-color;
}
@media screen and (max-width: 767px) {
  .header-dec {
    height: 60px;
  }
}
