.but {
  display: block;
  border: 0px;
  font-family: inherit;
  font-weight: 500;
  color: $accent-text-color;

  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;

  border: 0px;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button .but:hover,
.button .but:focus {
  color: $hero-text-color;
  background-color: $accent-text-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.primary {
  color: $hero-text-color;
  background-color: $accent-text-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-section .button {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.button .title + .title {
  margin-left: 8px;
}

.buttons-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
