.section-title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
  padding-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .section-title {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .section-title {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    width: 1200px;
    padding-bottom: 50px;
  }
}
